<script src="{{ url_for('ProteinStructureFetch.static', filename='js/psf_util.js') }}">
</script>
<link rel="stylesheet" href="{{ url_for('ProteinStructureFetch.static', filename='css/PsfStyle.css') }}">
</script>
<div id="tab_to_add" class="container" style="display:none;">
    <h2 class="lineglowslow" style="font-size: 68px;margin-bottom:30px;margin-top:30px">Settings</h2>
    <h6>Select a coloring mode.</h6>
    <div id="psf_colormode_selector">
        <select id="psf_mode">
            {% include "psf_color_modes.html" %}
        </select>
        <div class="twelve columns">
            <div id="psf_mode_update_message">
            </div>
        </div>
        <script>
            $("#psf_mode").selectmenu({
                classes: {
                    "ui-selectmenu-open": "psf-selectmenu-open",
                },
            });
            $('#psf_mode').on('selectmenuselect', function() {
                var colorMode = $("#psf_mode").val();
                var addition = "/vrprot/changeMode?mode=" + colorMode;
                sendAjax(addition, "psf_mode_update_message");
            });
        </script>

    </div>
    <h6>Select the AlphaFold DB version.</h6>
    <div id="psf_alphafold_selector">
        <select id="psf_alphafold_ver">
            {% include "psf_alphafold_versions.html" %}
        </select>
        <div class="twelve columns">
            <div id="psf_alphafold_ver_update_message">
            </div>
        </div>
        <script>
            $("#psf_alphafold_ver").selectmenu({
                classes: {
                    "ui-selectmenu-open": "psf-selectmenu-open",
                },
            });

            $('#psf_alphafold_ver').on('selectmenuselect', function() {
                var version = $("#psf_alphafold_ver").val();
                var addition = "/vrprot/changeAFVer?ver=" + version
                sendAjax(addition, "psf_alphafold_ver_update_message");
            });
        </script>
    </div>
    <img id="tab_img" src="{{ url_for('static', filename='img/active_gears.png') }}" style="display: none;">

    {% if "UnrealEngine" in request.user_agent|string%}
    <!-- Larger dropdown items if in unreal -->
    <script>
        $("#psf_mode").selectmenu("menuWidget").menu({
            classes: {
                "ui-menu-item-wrapper": "psf-selectmenu-open-text"
            },
        });
        $("#psf_alphafold_ver").selectmenu("menuWidget").menu({
            classes: {
                "ui-menu-item-wrapper": "psf-selectmenu-open-text"
            },
        });
    </script>
    {% endif %}
</div>